.navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
  background-color: white;
  padding: 2.5vh 5vw;
  width: 90vw;
}
.navbar a {
  color: #506690;
  text-decoration: none;
  font-weight: 500;
}

.Links {
  color: #506690;
  font-weight: 400;
  flex: 1;
  padding: 12px 20px;
}
.Link {
    padding: 12px 8px;
}

.Logo {
  width: 7.5vw;
}

.LoginBox {
    padding: 12px 50px;
}
.Login {
  background-color: rgba(51, 94, 234, 0.1);
  color: #335eea !important;
  padding: 12px 40px;
  border-radius: 10px;
  white-space: nowrap;
  cursor: pointer;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Login:hover {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}
