@import url('https://rsms.me/inter/inter.css');

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
  letter-spacing: -0.6px;
  box-sizing: border-box;
  overflow-y: scroll;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.Hero h1 {
  opacity: 0;
  animation: HeroAnimation;
  animation-fill-mode: forwards;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
  margin: 0%;
  font-size: 56px;
  font-weight: 800;
}

.Hero p {
  opacity: 0;
  color: #869ab8;
  font-weight: 500;
  font-size: 20px;
  padding: 0%;
  animation: HeroAnimation 3s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  animation-delay: 0.5s;
}

.Hero {
  padding-left: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 90vh;
  justify-content: space-between;
  max-width: 85vw;
}

.HeroImage {
  opacity: 0;
  transform: translateY(50px);
  animation: HeroAnimation 3s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  animation-delay: 0.5s;
}


.HeroGroup {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;
}

.ButtonGroup {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 600;
  z-index: 10;
  cursor: pointer;
}

.HeroButton2 {
  opacity: 0;
  font-weight: 500;
  background-color: rgba(51,94,234,.1);
  color: #335eea;
  padding: 14px 36px;
  border-radius: 6px;
  white-space: nowrap;
  margin-left: 10px;
  animation: HeroAnimation 3s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  animation-delay: 0.9s;
}

.HeroButton1 {
  opacity: 0;
  font-weight: 500;
  background-color: #335eea;
  color: white;
  padding: 14px 36px;
  border-radius: 6px;
  white-space: nowrap;
  animation: HeroAnimation 3s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  animation-delay: 0.7s;
}


@keyframes HeroAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

.Cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 85vw;
  padding-left: 5%;
}

.Card {
  padding: 20px 20px;
  width: 25vw;
  vertical-align: middle;
  
}

.Card svg {
  height: 3em;
  width: 3em;
}

.Card h3 {
  font-size: 30px;
  padding: none;
}

.Card p {
  padding: none;
  font-size: 17px;
  line-height: 27.2px;
  color: #869ab8;
}
.section {
  height: 100vh;
  text-align: center;
  line-height: 100vh;
  font-size: 3vw;
  font-weight: 800;
}


