@import url('https://rsms.me/inter/inter.css');

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
  letter-spacing: -0.6px;
  overflow-y: scroll;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body a {
  text-decoration: none;
}

.body button {
  border: none;
}


.Hero h1 {
  opacity: 0;
  animation: HeroAnimation;
  animation-fill-mode: forwards;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
  margin: 0%;
  font-size: 56px;
  font-weight: 800;
}

.Hero p {
  opacity: 0;
  color: #869ab8;
  font-weight: 500;
  font-size: 20px;
  padding: 0%;
  animation: HeroAnimation 3s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  animation-delay: 0.5s;
}

.Hero {
  padding-left: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 90vh;
  justify-content: space-between;
  max-width: 85vw;
}

.HeroImage {
  opacity: 0;
  transform: translateY(50px);
  animation: HeroAnimation 3s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  animation-delay: 0.5s;
}


.HeroGroup {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;
}

.ButtonGroup {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 600;
  z-index: 10;
  cursor: pointer;
}

.HeroButton2 {
  opacity: 0;
  font-weight: 500;
  background-color: rgba(51,94,234,.1);
  color: #335eea;
  padding: 14px 36px;
  border-radius: 6px;
  white-space: nowrap;
  margin-left: 10px;
  animation: HeroAnimation 3s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  animation-delay: 0.9s;
}

.HeroButton1 {
  opacity: 0;
  font-weight: 500;
  background-color: #335eea;
  color: white;
  padding: 14px 36px;
  border-radius: 6px;
  white-space: nowrap;
  animation: HeroAnimation 3s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  animation-delay: 0.7s;
}

@keyframes HeroAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

.Cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 85vw;
  padding-left: 5%;
  height: 50vh;
}

.Card {
  padding: 20px 20px;
  width: 25vw;
  vertical-align: middle;
  
}

.Card svg {
  height: 3em;
  width: 3em;
  color: #335eea;
}

.Card h3 {
  font-size: 30px;
  padding: none;
}

.Card p {
  padding: none;
  font-size: 17px;
  line-height: 27.2px;
  color: #869ab8;
}

.Card:hover {
  height: 25vh;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  background-color: white;
  border-radius: 15px;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}
.whysection {
  height: 100vh;
  border-bottom: 5px black;
  width: 100vw;
}

.why {
  padding-top: 20vh;
  margin-left: 7.5vw;
  margin-right: 7.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.whygroup h3 {
  font-size: 40px;
  display: block;
  margin: unset;
  font-weight: 700;
}

.whygroup h3:hover {
  color: #335eea;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}
.whygroup h4 {
  font-size: 20px;
  margin: unset;
  font-weight: 500;
}

.whygroup p {
  font-weight: 400;
  margin-top: 20px;
  font-size: 18px;
  line-height: 25px;
  color: #869ab8;
}
.features {
  padding-top: 10px;
  display: grid; 
  grid-template-columns: 0.7fr 1fr; 
  grid-template-rows: repeat(3, 1fr); 
  grid-column-gap: 20px;
  grid-row-gap: 20px; 
}

.feature {
  gap: 15px;
  display: inline-flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  color: #869ab8;
  background-color: #335eea10;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: default;
}

.feature:hover {
  color: #335eea;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}


@media (max-width: 800px) {
  .HeroImage {
    display: none;
  }
  .HeroGroup {
    text-align: center;
    justify-content: center;
  }
  .ButtonGroup {
    justify-content: center;
  }
  .Cards {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .Card {
    width: 50vw;
  }
  .Hero {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
   
}


